.head{
position: absolute;
width: 1520px;
height: 100px;
left: 0px;
top: -11px;

background: #ffffff;
}

.text_tournament{
position: absolute;
width: 434px;
height: 75px;
left: 210px;
top: 10px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 75px;
/* identical to box height */


color: #CF0000;
}

body{
background: #000000;
}

.profile{
position: absolute;
left: 75.49%;
right: 9.79%;
top: 15px;
bottom: 90.14%;
}

.logout{
position: absolute;
width: 250px;
height: 48px;
left: 1255px;
top: 25px;

font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 600;

background: #DD0000;
border-radius: 15px;
}

button:hover{
opacity: 0.8;
}

.buluTangkis{
position: absolute;
width: 300px;
height: 220px;
left: 400px;
top: 284px;
background: #EBEBEB;
border-radius: 15px;
}

.tennis{
position: absolute;
width: 300px;
height: 220px;
left: 828px;
top: 284px;
background: #EBEBEB;
border-radius: 15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  } 
  
  .wrapper{
    display: flex;
    position: relative;
  }
  
  .wrapper .sidebar{
    width: 200px;
    height: 31%;
    background: #ffffff;
    padding: 30px 0px;
    position: fixed;
  }
  
  .wrapper .sidebar h2{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }    
  
  .wrapper .sidebar ul li a{
    color: #000000;
    display: block;
  }
  
  .wrapper .sidebar ul li a .fas{
    width: 25px;
  }
  
  .wrapper .sidebar ul li:hover{
    background-color: #ffffff;
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #fff;
  }
   
  .wrapper .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .wrapper .sidebar .social_media a{
    display: block;
    width: 40px;
    background: #ffffff;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #000000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .wrapper .main_content{
    width: 100%;
    margin-left: 200px;
  }
  
  .wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: #000000;
    border-bottom: 1px solid #000000;
  }
  
  .wrapper .main_content .info{
    margin: 20px;
    color: #000000;
    line-height: 25px;
  }
  
  .wrapper .main_content .info div{
    margin-bottom: 20px;
  }
  .menu{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 40px;
    right: 15.31%;
    top: -5px;
    bottom: 15.91%;
  }