* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v37_61 {
  width: 100%;
  height: 1024px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v37_62 {
  width: 365px;
  height: 235px;
  background: rgba(235,235,235,1);
  opacity: 1;
  position: absolute;
  top: 484px;
  left: 247px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v37_63 {
  width: 365px;
  height: 235px;
  background: rgba(235,235,235,1);
  opacity: 1;
  position: absolute;
  top: 484px;
  left: 828px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v37_64 {
  width: 100%;
  height: 148px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v37_65 {
  width: 434px;
  color: rgba(207,0,0,1);
  position: absolute;
  top: 30px;
  left: 30px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v37_66 {
  width: 175px;
  height: 175px;
  background: url("../images/v37_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 499px;
  left: 336px;
  overflow: hidden;
}
.v37_67 {
  width: 204px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 674px;
  left: 328px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v37_68 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 674px;
  left: 958px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v37_69 {
  width: 68px;
  height: 68px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 1231px;
}
.v37_70 {
  width: 156px;
  height: 38px;
  background: rgba(221,0,0,1);
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 1255px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v37_71 {
  width: 82px;
  color: rgba(241,241,241,1);
  position: absolute;
  top: 56px;
  left: 1292px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v37_72 {
  width: 175px;
  height: 175px;
  background: url("../images/v37_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 499px;
  left: 925px;
  overflow: hidden;
}
.name {
  color: #fff;
}
