body{
    background-color: rgb(10, 10, 10);
}

.tournament h1{
    color: aliceblue;
    font-family: 'Open Sans';
    font-size: 50px;
}
.card-title{
    text-align: center;
}

.tennis{
    position: absolute;
    background-color: aliceblue;
    border-radius: 5px;
    left: 300px;
    top: 200px;
}

.profil{
    position: absolute;
    background-color: aliceblue;
    border-radius: 5px;
    width: 400px;
    right: 580px;
    top: 100px;
}

.badminton{
    position: absolute;
    background-color: aliceblue;
    border-radius: 5px;
    right: 300px;
    top: 200px;
}

.btn-primary{
    background: red;
    border: 0;
    padding: 8px 35px 8px 35px;
    font-size: 18px;
    font-weight: bold;
}

.btn-primary:hover{
    background: rgb(228, 0, 0);
    border: 0;
}

.btn-primary-a{
    background: rgb(255, 250, 250);
    border: 0;
    padding: 8px 35px 8px 35px;
    font-size: 18px;
    font-weight: bold;
}

.btn-primary-a:hover{
    background: rgb(230, 230, 230);
    border: 0;
}

.btn-secondary-a{
    background: rgb(56, 56, 56);
    border: 0px solid rgb(255, 238, 238);
    padding: 8px 35px 8px 35px;
    font-size: 18px;
    font-weight: bold;
    color: azure;
}

.btn-secondary-a:hover{
    background: rgb(230, 230, 230);
    border: 0;
}

.btn-primary-b{
    background: rgb(10, 178, 255);
    border: 0;
    padding: 9px 28px 9px 28px;
    font-size: 12px;
    font-weight: bold;
}

.btn-primary-b:hover{
    background: rgb(6, 166, 240);
    border: 0;
}

.btn-secondary-b{
    background: none;
    border: 1px solid rgb(10, 178, 255);
    padding: 9px 28px 9px 28px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.btn-secondary-b:hover{
    background: rgba(212, 233, 243, 0.637);
    border: 1px solid rgb(6, 166, 240);
}

.btn-primary-c{
    background: rgb(255, 250, 250);
    border: 0;
    padding: 8px 35px 8px 35px;
    font-size: 18px;
    font-weight: bold;
}

.btn-primary-c:hover{
    background: rgb(119, 255, 40);
    border: 0;
}

.btn-login{
    background: red;
    border: 0;
    padding: 9px 28px 9px 28px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.btn-login:hover{
    background: rgb(228, 0, 0);
    border: 0;
    color: white;
}